<main>
    <h1 class="heading"> 
        <p class="red-header">Red</p> vs 
        <p class="green-header">Green</p>
    </h1>

    <div class="game-rules">
        <p>'Green vs. Red' is a game played on a 2D grid 
            that in theory can be infinite. Each cell on 
            this grid can be either green (represented 
            by 1) or red (represented by 0). The game always
            receives an initial state of the grid (Generation
            zero). After that a set of 4 rules are applied 
            across the grid and those roles from the next 
            generation.    
        </p>

        <p>Rules that create the next generation:</p>

        <p class="rule-points">1. Each red cell that is surrounded 
            by exactly 3 or exactly 6 green cells will also become 
            green in the next generation.
        </p>
        <p class="rule-points">2. A red cell will stay red in the 
            next generation if it has either0, 1, 2, 4, 5, 7 or 8 
            green neighbours.
        </p>
        <p class="rule-points">3. Each green cell surrounded by 0,
            1, 4, 5, 7 or 8 green neighbours will become red in the
            next generation.
        </p>

        <p class="rule-points">4. A green cell will stay green in 
            the next generation if it has either 2, 3 or 6 green 
            neighbours.
        </p>
    </div>    

    <div id="grid_form" class="grid-form" name="gridForm">
        <div class="form-box">
            <label for="grid-size">Grid Size: </label>
            <input type="text" #gridSize placeholder="x(width) , y(height) ex: 3,3">
        </div>

        <div class="form-box">
            <label for="initial-state">Initial State of Array: </label>
            <input type="text" #initialState placeholder="ex: 0,0,0,1,1,1,0,0,0">
        </div>

        <div class="form-box">
            <label for="coordinates-and-number">Coordinates and Number: </label>
            <input type="text" #coordinatesAndNumber placeholder="x, y, N ex: 1,0,10">
        </div>

        <div class="button-container">
            <button class="submit-button" type="button" 
            (click)="submitForm(gridSize.value, initialState.value, coordinatesAndNumber.value)">
                Calculate
            </button>
        </div>
    </div>

    <div class="result-container">
        <label>Result: {{result}}</label>        
    </div>
</main>